table{
    border: 2px solid black;
    border-collapse: collapse;
}

td{
    border: 2px solid black;
}

.tabla{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
    background-color: black;
    color: white;
    position: absolute;
    bottom: 0px;
}

.pie{
    display: flex;
    justify-content: center;
    align-items: center;

}