table{
    border: 2px solid black;
    border-collapse: collapse;
}

td{
    border: 2px solid black;
    width: anchor-size();
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

